dl {
    display: inline-block;
    box-sizing: content-box;
}

dl dt {
    padding: 6px;
    background-color: #7f7f7f;
}

dl dt:hover {
    background-color: #5e5e5e;
}

img {
    vertical-align: -29px;
}

dl span {
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: "Segoe UI", serif;
    margin-left: 3px;
    margin-right: 60px;
}